version: 2.1

executors:
  node:
    docker:
      - image: cimg/node:24.14.0 # latest 24.x

jobs:
  test_browsers:
    executor: node
    environment:
      USE_SAUCE: "true"
    steps:
    - checkout
    - run:
        name: Report versions
        command: "echo 'Node version:' && node -v && echo 'NPM version:' && npm -v"
    - run:
        name: Install NPM packages
        command: "npm install"
    - run:
        name: Install Sauce Connect
        command: |
          tmpdir=$(mktemp -d)
          cd "$tmpdir"
          curl https://saucelabs.com/downloads/sauce-connect/5.2.2/sauce-connect-5.2.2_linux.x86_64.tar.gz | tar zxf -
          chmod +x sc
          mkdir -p ~/bin
          cp sc ~/bin
          echo "Sauce Connect version info:"
          ~/bin/sc version
    - run:
        name: Run tests
        command: scripts/ci.sh

workflows:
  version: 2
  push:
    jobs:
    - test_browsers